<h2>Listas de compra:</h2>

<section>
  <list [list]="list" (delete)="deleteList($event)"
    *ngFor="let list of lists"></list>

  <form (ngSubmit)="createList(tempList)" #otherForm="ngForm">
    <!--2/ También puedes añadir una referencia a ngModel en los inputs-->
    <input name="title" [(ngModel)]="tempList.title"
      #title="ngModel" required>

    <!--3/ Así puedes mostrar mensajes por campo-->
    <span [hidden]="title.valid || (title.pristine && !otherForm.submitted)">
      El titulo es requerido
    </span>

    <button type="submit"
      [disabled]="!otherForm.form.valid">Crear lista</button>
  </form>
</section>